<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Cities Database Dashboard</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- <script src="../static/js/app.js"></script> -->
  <title>City MAP</title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

      <!-- nav bar code start  -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mr-auto">

          <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="collapse_target">
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class= "nav-link" href="/home">About</a>
          </li>
          <li class="nav-item">
              <a class= "nav-link" href="/home">Project Methods</a>
          </li>
          <li class="nav-item">
              <a class= "nav-link" href="/home">The Team</a>
          </li>
              <li class="nav-item dropdown">
                  <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target= "dropdown_target" href="#">
                      Visuals
                      <span class="caret"></span>    
                  </a>
              <div class="dropdown-menu" aria-labelledby="dropdown_target">
                  <ul class="navbar-nav">
                  <a class= "dropdown-item" href = "/scatter">Scatter</a>
                  </ul>
                  <ul class="navbar-nav">
                  <a class= "dropdown-item" href = "/map">Map</a>
                  </ul>
                  <ul class="navbar-nav">
                  <a class= "dropdown-item" href = "/metadata">Data</a>
                  </ul>
              </div>
              </li>
          </ul>
          </div>
      </nav>
<br><br>


  <!-- The container that holds our map -->
  <div class="h-100 w-100 p-3 d-inline-block" id="map-id"><p>HERE IS TEXT</p>
    </div>

</div>
<!-- D3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- API Key -->
<script type="text/javascript" src="../static/config.js"></script>
<!-- Our JavaScript -->
<script type="text/javascript" src="../static/js/logic.js"></script>
</body>

</html>
