<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="../static/js/app.js"></script>

    <title>Biz City</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
                <!--========== PARALLAX ==========-->
         <div class="parallax-window" data-parallax="scroll" data-image-src="img/1920x1080/01.jpg">
            <div class="parallax-content container">
            <br>
            </div>
        </div>
  <!-- jumbotron Welcome -->
    <!-- nav bar code start  -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mr-auto">

        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse_target">
        <!-- <a class="navbar-brand"><img src="#"></a>
        <span class="navbar-text">Yellow-Team 3.0</span> -->
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class= "nav-link" href="/home">About</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href="/home">Project Methods</a>
            </li>
            <li class="nav-item">
                <a class= "nav-link" href="/home">The Team</a>
            </li>
            <li class="nav-item dropdown">
                <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target= "dropdown_target" href="#">
                    Visuals
                    <span class="caret"></span>    
                </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
                <ul class="navbar-nav">
                <a class= "dropdown-item" href = "/scatter">Scatter</a>
                </ul>
                <ul class="navbar-nav">
                <a class= "dropdown-item" href = "/map">Map</a>
                </ul>
                <ul class="navbar-nav">
                <a class= "dropdown-item" href = "/metadata">Data</a>
                </ul>
            </div>
            </li>
        </ul>
        </div>
    </nav>

        <div class="container">   
        <div class="row">
                <div class= "col-md-3">
                <div id= "menu"></div>
                <h3>Select A Parameter</h3>
                <select id="selDataset" onchange="getData(this.value)">                          
                    <option value="Population">Population</option>
                    <option value="EducationalAttainment">Educational Attainment</option>
                    <option value="Household Income">Household Income</option>                           
                    <option value="Commute Time">Commute Time</option>
            <!-- <option value="Crime Rate">Crime Rate</option> -->
                    <option value="State Tax">State Tax</option>
                       </select>
                   </div>
                   <div class="col-md-9">
                        <div id="scatter"></div>
                        <!-- <p>chart will go here</p> -->
                   </div>
                   
            </div>
    </div>
      <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>       
</body>    